Package: cpp-arm-linux-gnueabi
Source: gcc-defaults (1.208)
Version: 4:13.2.0-1
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 16
Depends: cpp-13-arm-linux-gnueabi (>= 13.2.0-2~)
Suggests: cpp-doc
Section: interpreters
Priority: optional
Multi-Arch: foreign
Description: GNU C preprocessor (cpp) for the armel architecture
 The GNU C preprocessor is a macro processor that is used automatically
 by the GNU C compiler to transform programs before actual compilation.
 .
 This package has been separated from gcc for the benefit of those who
 require the preprocessor but not the cross-compiler for armel architecture.
 .
 This is a dependency package providing the default GNU C preprocessor
 for the armel architecture.
