Package: gcc-arm-linux-gnueabi
Source: gcc-defaults (1.208)
Version: 4:13.2.0-1
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 25
Depends: cpp-arm-linux-gnueabi (= 4:13.2.0-1), gcc-13-arm-linux-gnueabi (>= 13.2.0-2~)
Recommends: libc6-dev-armel-cross | libc-dev-armel-cross
Suggests: make, manpages-dev, autoconf, automake, libtool, flex, bison, gdb-arm-linux-gnueabi, gcc-doc
Section: devel
Priority: optional
Multi-Arch: foreign
Description: GNU C compiler for the armel architecture
 This is the GNU C compiler, a fairly portable optimizing compiler for C.
 .
 This is a dependency package providing the default GNU C cross-compiler
 for the armel architecture.
