Package: gobjc++-arm-linux-gnueabi
Source: gcc-defaults (1.208)
Version: 4:13.2.0-1
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 6
Depends: cpp-arm-linux-gnueabi (>= 4:13.2.0-1), gcc-arm-linux-gnueabi (>= 4:13.2.0-1), gobjc++-13-arm-linux-gnueabi (>= 13.2.0-2~)
Recommends: g++-arm-linux-gnueabi (>= 4:13.2.0-1), gobjc-arm-linux-gnueabi (>= 4:13.2.0-1)
Section: devel
Priority: optional
Multi-Arch: foreign
Description: GNU Objective-C++ compiler for the armel architecture
 This is the GNU Objective-C++ compiler, which compiles
 Objective-C++ on platforms supported by the gcc compiler. It uses the
 gcc backend to generate optimized code.
 .
 This is a dependency package providing the default GNU Objective-C++
 cross-compiler for the armel architecture.
