Package: cpp-doc
Source: gcc-defaults (1.210)
Version: 4:14-20240120-0
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 19
Depends: cpp-14-doc (>= 14-20240120-0~)
Suggests: cpp (>= 4:14-20240120-0)
Section: doc
Priority: optional
Description: Documentation for the GNU C preprocessor (cpp)
 Documentation for the GNU C preprocessor in info format (dependency package).
