Package: gfortran-arm-linux-gnueabi
Source: gcc-defaults (1.208)
Version: 4:13.2.0-1
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 11
Depends: cpp-arm-linux-gnueabi (= 4:13.2.0-1), gcc-arm-linux-gnueabi (= 4:13.2.0-1), gfortran-13-arm-linux-gnueabi (>= 13.2.0-2~)
Suggests: gfortran-doc
Section: devel
Priority: optional
Multi-Arch: foreign
Description: GNU Fortran 95 compiler for the armel architecture
 This is the GNU Fortran 95 compiler, which compiles Fortran 95 on platforms
 supported by the gcc compiler. It uses the gcc backend to generate optimized
 code.
 .
 This is a dependency package providing the default GNU Fortran 95
 cross-compiler for the armel architecture.
