Package: gcc-doc
Source: gcc-defaults (1.210)
Version: 4:14-20240120-0
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 21
Depends: gcc-14-doc (>= 14-20240120-0~)
Suggests: gcc (>= 4:14-20240120-0)
Section: doc
Priority: optional
Description: Documentation for the GNU C compilers (gcc, gobjc, g++)
 Documentation for the GNU compilers in info format (dependency package).
