Package: gccgo-arm-linux-gnueabi
Source: gcc-defaults (1.208)
Version: 4:13.2.0-1
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 11
Depends: cpp-arm-linux-gnueabi (>= 4:13.2.0-1), g++-arm-linux-gnueabi (>= 4:13.2.0-1), gccgo-13-arm-linux-gnueabi (>= 13.2.0-2~)
Suggests: gccgo-doc
Section: devel
Priority: optional
Multi-Arch: foreign
Description: Go compiler (based on GCC) for the armel architecture
 This is the GNU Go compiler, which compiles Go on platforms supported by
 the gcc compiler. It uses the gcc backend to generate optimized code.
 .
 This is a dependency package providing the default GNU Go cross-compiler
 for the armel architecture.
